<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>登录</title>
		<link rel="stylesheet" type="text/css" href="../../stylesheets/common.css"/>
		<link rel="stylesheet" type="text/css" href="stylesheets/login.css"/>
	</head>
	<body>
		<!--header-->
		<div class="header">
			<a href="javascript:;" class="clear_fix">
				<img src="images/logo.png"/>
				<span>欢迎登录</span>
			</a>
		</div>
		<!--login-main-->
		<div class="login_main clear_fix">
			<div class="fl">
				<a href="javascript:;">
					<img src="images/gg2.jpg"/>
				</a>
			</div>
			<div class="fr login b">
				<div class="login_header">
					<span>你还未登录</span>
					<a href="javascript:;">免费注册</a>
				</div>
				<div class="login_box">
					<ul class="login_nav">
						<li class="curr"><em></em>优选账号</li>
						<li><em></em>顺手付账号</li>
						<li><em></em>速运账号</li>
					</ul>
					<div class="login_con">
						<div class="con1">
							
						</div>
					</div>
					<ul class="blink">
						<li>
							<span><i></i></span>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!--footer-->
		<div class="footer">
			<span class="footer1">
				<a href="javascript:;">关于我们</a> | 
				<a href="javascript:;">联系我们</a> | 
				<a href="javascript:;">招聘人才</a> | 
				<a href="javascript:;">友情链接</a>
			</span>
			<p>北京顺丰电子商务有限公司</p>
			<p>北京市公安局顺义分局备案11011302000890号|<a href="javascript:;">京ICP备12011349号</a>|<a href="javascript:;">企业营业执照</a></p>
			<p>Copyright&copy; 顺丰优选 sfbest.com 版权所有</p>
		</div>
	</body>
</html>
